<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>glass-x</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/login.xhtml</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>ServletActivacionCuenta</display-name>
        <servlet-name>ServletActivacionCuenta</servlet-name>
        <servlet-class>Servlet.ServletActivacionCuenta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletActivacionCuenta</servlet-name>
        <url-pattern>/ActivacionCuenta</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ServletCambioEmail</display-name>
        <servlet-name>ServletCambioEmail</servlet-name>
        <servlet-class>Servlet.ServletCambioEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCambioEmail</servlet-name>
        <url-pattern>/cambio-email</url-pattern>
    </servlet-mapping>
       <servlet>
        <description></description>
        <display-name>ServletCambioContrasena</display-name>
        <servlet-name>ServletCambioContrasena</servlet-name>
        <servlet-class>Servlet.ServletCambioContrasena</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCambioContrasena</servlet-name>
        <url-pattern>/CambioContrasena</url-pattern>
    </servlet-mapping>
</web-app>